html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.robot-body {
  position: relative;
  margin: 1rem;
  transform: translateX(50%);
  top: 0;
  left: 10%;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 202px;
}

.robot {
  width: 320px;
}

.robot-head-left {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.robot-head-right {
  position: absolute;
  transform: translateX(-50%);
  right: 50%;
}

.robot-brain {
  position: absolute;
  transform: translateX(-50%);
  top: 60px;
  left: 50%;
  width: 45px;
}

.btn-hover > .robot-head-left {
  margin: 3rem;
}

.btn-hover > .robot-head-right {
  margin: 3rem;
}
