html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.robot-body {
  position: absolute;
  width: 320px;
  transform: translateX(-50%);
  top: 55px;
  left: 50%;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 240px;
}

.robot {
  width: 320px;
  height: 100%;
}

.robot-head-left {
  position: absolute;
  transform: translateX(-50%);
  right: 50%;
  width: 125px;
  float: left;
  margin: 20px -60px;
}

.robot-head-right {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 125px;
  float: right;
  margin: 20px 60px;
}

.robot-brain {
  position: absolute;
  transform: translateX(-50%);
  top: 60px;
  left: 50%;
  width: 45px;
}

.robot:hover > .robot-head-left {
  left: 317px;
  top: -6px;
}

.robot:hover > .robot-head-right {
  left: 400px;
  top: -6px;
}
