html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.robot-body {
  position: relative;
  margin: 1rem;
  transform: translateX(50%);
  top: 0;
  left: 0;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: block;
}

.robot {
  width: 320px;
}

.robot-head-left {
  position: relative;
  right: 40%;
  bottom: 40%;
}

.robot-head-right {
  position: relative;
  left: 40%;
  bottom: 40%;
}
